header {
  width: 100%;
  padding: 1.25em 1.25em 3em;
  background-color: #b9090b;
  box-sizing: border-box;
}

.header-first-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.find-movie-title {
  font-size: 3em;
  color: #00fec4;
  margin: 2em 0 .5em;
}